<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About Me</a>
    <a th:href="@{/projects}">Projects</a>
    <a th:href="@{/photos}">Photos</a>
    <a th:href="@{/contact}">Contact</a>
</nav>

<div class="container">
    <h1>Contact Me</h1>
    <ul>
        <li>Email: <a href="mailto:ios.faysalahmed@gmail.com">ios.faysalahmed@gmail.com</a></li>
        <li>Phone: +880-1748476739</li>
        <li>LinkedIn: <a href="https://linkedin.com/in/faysalf" target="_blank">linkedin.com/in/faysalf</a></li>
        <li>GitHub: <a href="https://github.com/faysalf" target="_blank">github.com/faysalf</a></li>
    </ul>
</div>

</body>
</html>
