<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faysal/iOS-Dev</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About Me</a>
    <a th:href="@{/projects}">Projects</a>
    <a th:href="@{/photos}">Photos</a>
    <a th:href="@{/contact}">Contact</a>
</nav>

<div class="container">
    <h1>Hi 👋 I'm Faysal Ahmed</h1>
    <p class="slide-in">
        An iOS Developer with 3+ years of experience crafting high-performance mobile applications using Swift, UIKit, Combine, and SwiftUI.
        I love solving problems and building polished UIs that scale.
    </p>
    <p>
        Explore my work, get to know me, and feel free to get in touch.
    </p>
</div>

</body>
</html>
