<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Photos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About Me</a>
    <a th:href="@{/projects}">Projects</a>
    <a th:href="@{/photos}">Photos</a>
    <a th:href="@{/contact}">Contact</a>
</nav>

<div class="gallery">
    <h1>My Photos</h1>
    <img src="/images/faysal1.jpg" alt="Photo 1" width="200" />
    <img src="/images/faysal2.jpg" alt="Photo 2" width="200" />
</div>

</body>
</html>
